<!DOCTYPE html>
<html>

	<head>
		<title>Robot Cam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<style>
table ,td, tr {
		width: 30%;
}

</style>

	<body>
		<img src="{{ url_for('video_feed') }}"></img>

		<form action="/voice/speak" method="POST">
			<input type="text" name="speech_text" size="100">
			<input type="submit" value="Say">
		</form>

		<table style="width:100%; max-width: 500px; height:300px;">
			<tr>
				<td>
 					<form name="motor_left" action="/motor/left" method="POST">
						<input type="image" name="direction" src="/static/img/left.svg" value="left" style="float:left; width:80% ;">
						</br>
					</form>
				</td>
				<td>
					<form name="motor_forward" action="/motor/forward" method="POST">
						<input type="image" name="direction" src="/static/img/forward.svg" value="forward" style="float:left; width:80%;">
						</br>
					</form>
				</td>
				<td>

					<form name="motor_right" action="/motor/right" method="POST">
						<input type="image" name="direction" src="/static/img/right.svg" value="right" style="float:left; width:80%;">
						</br>
					</form>

				</td>
			</tr>
			<tr>
				<td>
					<form name="motor_reverse" action="/motor/reverse" method="POST">
						<input type="image" name="direction" src="/static/img/reverse.svg" value="reverse" style=" margin-left:80px; width:80%;">
						</br>
					</form>
				</td>
				<td>
					<form name="motor_stop" action="/motor/stop" method="POST">
						<input type="image" name="direction" src="/static/img/stop.svg" value="stop" style="margin-left:80px; width:80%;">
						</br>
					</form>
				</td>
			</tr>
		</table>
   		<script>	
		  document.onkeydown = function(e) {
		  switch (e.keyCode) {
		  case 37:
		  document.motor_left.submit();
		  break;
		  case 38:
		  document.motor_forward.submit();
		  break;
		  case 39:
		  document.motor_right.submit();
		  break;
		  case 40:
		  document.motor_reverse.submit();
		  break;
		  case 32:
		  document.motor_stop.submit();
		  break;
		  }
		  };
		</script>

	</body>
</html>
